.board-options{

    position: absolute;
    right:15px;
    top:5rem;
    background-color: rgb(76, 76, 76);
}

.board-options-card{
    display:flex;
    flex-direction: column;
    gap:1rem;
    background-color: rgb(97, 97, 97);
    padding:1rem 2rem;
    border-radius: 5px;
    color:white;    
}


.board-option{
    background: none;
    border:none;
    color:white;
    cursor: pointer;
}

.board-option:first-child:hover{
    color:aqua;
}
.board-option:nth-child(2):hover{
    color:red;
}