/* NAVBAR */


.navbar{


    position: fixed;
    left:0;
    background-color: rgb(24, 24, 24);
    height:100vh;
    width:22%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}




/* LOGO */

.logo{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:0.7rem;
    margin-top: 2rem;
    width:100%;
    cursor: default;
    padding-left: 2rem;
}

.logo-title{
    color:white;
  
    font-family: 'Oswald';
    font-size: 2rem;
}


/* NAVBAR ITEMS */


.navbar-items-container{


    margin-top: 3rem;
}

.navbar-items-title-text{


    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: default;
    padding-left: 2rem;
}

.navbar-menu-items{


    margin-top: 2rem;
    margin-left: 0rem;
   
    max-height:320px;
    overflow-y: auto;
}

.navbar-menu-item{
    display:flex;
    align-items: center;
    gap:1rem;
    
    padding:2rem 2rem 2rem 2rem;
    cursor: grab;
    transition: .2s ease-in-out;
}



.navbar-menu-item:hover{
    background-color: white;
    color:black;
}

.navbar-menu-item:hover .board-icon{
    color:black;
}
.navbar-menu-item-text{

    font-weight: 500;
}


/* SIGN OUT SECTION */




.navbar-sign-out{

    margin-top: -0.2rem;

    padding:2rem;
    align-self: self-end;
}
/* SIGN OUT BUTTON */


.signout-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding:0.5rem 1rem;
    background-color: white;
   width:50%;
    cursor:pointer;
    border:none;
    outline:none;
    transition: .1s ease-in-out;
    margin-bottom: 1rem;
    
}

.signout-btn:hover{
    background-color: black;
    color:white;
}


.selected{
    display:flex;
    align-items: center;
    gap:1rem;
    
    padding:2rem 2rem 2rem 2rem;
    cursor: grab;
    transition: .2s ease-in-out;
    background-color: white;
    color:black;
}


.navbar-mobile{

    position: fixed;
    left:0;
    background-color: rgb(24, 24, 24);
    height:100vh;
    width:60%;
    z-index: 9999;
    display:flex;
    flex-direction: column;
    justify-content: space-between;



}



@media(min-width:760px){
    .navbar{
        display:flex;
      }
  .navbar-mobile{
    display:none;
    z-index: -99999999999999999999999999999999999999;
  }

 
}

@media(max-width:1272px){


    .logo{
        display:flex;
        align-items: center;
        justify-content: flex-start;
        gap:0.3rem;
        margin-top: 2rem;
        width:100%;
        cursor: default;
        padding-left: 1rem;
    }

    .navbar-menu-item{
        display:flex;
        align-items: center;
        gap:1rem;
        
        padding:2rem 1rem;
        cursor: grab;
        transition: .2s ease-in-out;
    }
    .selected{
        display:flex;
        align-items: center;
        gap:1rem;
        
        padding:2rem 1rem;
        cursor: grab;
        transition: .2s ease-in-out;
        background-color: white;
        color:black;
    }

    .navbar-sign-out{

        padding:2rem 1rem;
    }
    .signout-btn{
        display:flex;
        align-items: center;
        justify-content: center;
        gap:0.4rem;
        padding:0.5rem 1rem;
        background-color: white;
       width:80%;
        cursor:pointer;
        border:none;
        outline:none;
        transition: .1s ease-in-out;
        margin-bottom: 1rem;
        
    }
}


@media(max-width:760px){

    .navbar{

       display:none;
    }
}